.App {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-style: normal;
  /* font-size: 16px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.search-color {
  color: #066dcc;
  font-size: 4rem;
  font-weight: 400;
}

.devs-color {
  color: #8c1cd4;
  font-size: 4rem;
  font-weight: 400;
}

.searchbutton{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #8c1cd4;
  color: #fff;
  padding: 13px 45px;
  border-radius: 5px;
  border: none;
  margin-left: 15px;
  cursor: pointer;
}

.resultinfos > div {
  display: flex;
  flex-wrap: wrap;
}

.resultuserinfos,
.resultreposinfos {
  width: 400px; /* Adjust as needed */
  margin-bottom: 15px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .resultuserinfos,
  .resultreposinfos {
    width: 100%;
  }
}





